
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Alex+Brush&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.cdnfonts.com/css/miama');


body{
    color: white;
    
    background-color: black;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    /* padding: 3%; */
}
img{
    width: 100%;
    height: 100%;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}


/* Nav decoration */
nav{
    background-color: black;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-item{
    list-style: none;
    font-size: 1.3rem;
    margin-right: 30px;
}
.display-flex{
    display: flex;
   
}
.inner-flex{
    display: flex;
    
}
.position-fit{
    margin-left: 5%;
    
    
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.home-design{
    background-color: chocolate;
    border-radius: 6px;
    color: white;
}
.text-c{
    color: white;
}
.inner-nav-design{
    border: 1px solid white;
   border-radius: 25px;
 
   margin-right: 3%;
 
 

}
.head-color{
    color: chocolate;
    font-size: xx-large;
    font-style: italic;
    /* margin-left: 3%; */
}
.menu-button{
    color: white;
}
#menu{
    display: none;
}
.header-part{
    max-width: 1440px;
    margin: 0 auto;
    background-color: aliceblue;
    /* margin-left: 11.8%; */
}
.head-l{
    margin-left: 1%;
}
/* First head section */
.new-bc{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.first-section{
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: olive; */
}

.first-head{
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}
.second-head{
    font-size: 3rem;
    font-style: inter;
    margin-left: 4%;
}
.shape{
    /* font-family:'Miama', sans-serif ;
  font-weight: 3rem;
  font-style: normal; */
  font-family: "Miama", cursive;
  font-weight: 300;
  font-style: italic;
  font-size: 65px;

}
.p1{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 4%;
    word-wrap: break-word;
}
.pm-btn{
border-radius: 42px;
font-size: larger;
color: white;
position: static;
width: 270px;
height: 54px;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 40px 16px 40px;
}
.join-btn{
    background: rgb(230, 83, 60);
    border: none;
}
.d-btn{
 background-color: black;
 border: white 1px solid;
}
.btn-m{
    display: flex;

    width: 100%;
    gap: 2%;
    margin-left: 3%;
}


.image-container {
    position: relative;
    
} 

.background-image {
    width: 100%;
    height: auto;
    display: block;
}
.circle{
    width: 30px;
    height: 30px; 
    background-color: red; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}
.inner-div{
    position: absolute;
    width: 150px;
    height: 70px;
    /* margin-left: 20%; */
    padding: 2%;
    top: 30%; 
    left: 95%; 
    transform: translate(-50%, -50%); 
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.inner-dev-more{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.inner-div-two{
    position: absolute;
    width: 150px;
    height: 70px;
    margin-left: 20%;
    padding: 2%;
    top: 80%; 
    left: -5%; 
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* third page design */
.section-second{
    background-color: black;
    max-width:1440px;
    margin-top:0 auto;
    align-items: center;
}
.third-head{
    font-size: 3rem;
    
    margin-left: 34%;
   
}
.p2{
    margin-left: 34%;
}

.img-shape{
    border-radius: 50%;
    margin-left: 0%;
}
.all-card{
    margin-top: 7%;
    display: flex;
    margin-left: 7%;
    gap: 8rem;
    
}
.ex-one{
    /* background-color: aqua; */
    
}
.p-c{
    color: rgba(255, 255, 255, 0.5);
}
.p-p{
    margin-left: 0%;
}
.mov{
    margin-left: 40%;
}

/* Running part */
.run-container{
    width:60% ;
  
    /* margin: 0 auto; */
    
    background-color: dimgray;
    margin: 0 auto;
    display: flex;
    border-radius:10px ;
    margin-top: 20px;
    padding: 20px;
    
}
.run-img{
    width: 80%;
    height: 90%;
    margin: 2%;
    margin-left: 14%;
   

    border-radius: 10px;
}
.iiii{
     width: 100%;
     height: 100%;
     margin: 0 auto;
     border-radius: 20px;
    
    /* margin-right: 4%; */
}
.head-run ,.p-r {
    margin-left: 7%;
    margin-top: 3%;

}

/* BMI Calculator Design */
/* BMI Calculator Design */
.BMI-details{
    /* background-color: #1c1c1e; */
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 40vh;
    height: 30vh;
    margin: 0;
    color: #fff;

}
.table-container {
    border: 1px solid #3a3a3c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
       }
table {
    /* width: 100%; */
    border-collapse: collapse;
   }

   th, td {
    padding: 12px 20px;
    /* text-align: left; */
   }
   thead {
    /* background-color:; */
}
th{
    border:1px solid white ;
}


 td{
    border: 1px solid white;
 }
 tr{
    border: 1px solid white;
 }



th {
    font-weight: bold;
    color: #ffffff;
}

td {
    color: #b1b1b1;
}


.bmi-section{
    /* padding: 10%; */
    max-width: 1440px;
   

    margin: 0 auto;
    margin-top: 10%;
}
.bmi-div{
    background-color: #2c2c2e ;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 380px;
    
  
    margin: 0 auto;
}
.bmi-head{
    margin-left: 30%;
    font-size: 4rem;

}
/* bmi update calcultor */
.bmi-form{
    padding: 15px;
}
.bmi-container {
    background-color: #2c2c2e;
   
    
    /* padding: 30px; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    text-align: center;
    max-width: 30%;
   
    width: 100%;
    /* padding: 15px; */
}

.h-bmi-c {
    margin-left: 2px;
    /* margin-bottom: 0px; */
    /* font-size: 1.5rem; */
    margin-right: 50%;
}

.p-7 {
    font-size: 0.9rem;
    margin-right: 28%;
    margin-bottom: 25px;
    color: #cccccc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group-update {
    display: flex;
    gap: 15px;
}

.input-select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3e3e3e;
    color: white;
    font-size: 0.9rem;
    width: 100%; 
}

.input-s {
    flex: 1; 
}

.select-s {
    flex: 1; 
}

.full-width {
    width: 100%; 
}

.button-bmi-u {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 40%; 
}

/* button:hover {
    background-color: #e64a19;
} */






.p5{
    margin-left: 30%;
    /* align-items: center; */
    /* justify-content: center;
     */
}
.BMI-details{
    margin-left: 10%;
}


.input-shape{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    /* justify-content:space-between; */

    /* width: 50%; */
}
#idsex{
    width: 33%;

}
.input-size{
    /* width: 282px; */
    width: 30%;
    padding: 10px; 
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
.active-size{

    width: 67.5%;
    margin-top: 10px;
    padding: 10px; 
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
.calculate-button{
    margin-top: 10px;
    background: rgb(230, 83, 60);
    border: none;
    width: 14rem;
    height: 3rem;
    border-radius: 2.63rem;
    font-size: 1.3rem;
    font-style:large;
    color: #fff;
}

/* Trainer part */

.tr-img{
    width: 100%;
    border-radius: 10px;
}
.trainer-data{
    width: 326px;
   height: 272px;
   border-radius: 20px;
} 
.traner-details{
    width: 73%;
    margin: 0 auto;
    display: grid;
    background-color: #333;
    grid-template-columns: repeat(3,1fr) ;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    
}
.trainer-title{
    overflow: visible;
}
.td-1{
    background-image: url('../images/trainer1.png');
    background-size: cover;
    background-position: center;
    position: relative;

}
.td-2{
    background-image: url('../images/trainer2.png');
    background-size: cover;
    background-position: center;
    position: relative;

}
.td-3{
    background-image: url('../images/trainer3.png');
    background-size: cover;
    background-position: center;
    position: relative;

}
.td-4{
    background-image: url('../images/trainer4.png');
    background-size: cover;
    background-position: center;
    position: relative;

}
.td-5{
    background-image: url('../images/trainer5.png');
    background-size: cover;
    background-position: center;
    position: relative;

}
.td-6{
    background-image: url('../images/trainer6.png');
    background-size: cover;
    background-position: center;
    position: relative;
   

}
.trainer-position {
    position: absolute;
  top: 80%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  font-size: 24px; /* Adjust text size as needed */
  text-align: center;
}
.t-h{
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.t-p{
    font-size: .8rem;
}
.trainer-h{
   margin-left: 43%;
   font-size: 3rem;
   

}
.p-tt{
    margin-left: 30%;

}
.f-list{
    list-style: none;
    margin-left: 0;
    
}
.footer-d{
    /* width: 1440px;
    margin: 0 auto; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #333;

}
.footer-section{
    /* width: 1440px;
    margin: 0 auto; */
    margin-top: 40px;
    background-color: #333;
}
.l-f{
    margin-left: 45%;
}

/* Challenging part  */
.add-img{
    width: 30%;
}
.b-img{
    width: 100%;
    height: 80%;
  

    border-radius: 20px;
}
.habit-part{
    border-radius: 20px;
    background-color: #444;
    width: 60%;
    /* height: 250px; */
    margin-top: 30px;
   
}

.display-food{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.food-section{
    /* width: 1440px; */
    /* margin: 0 auto; */
    margin-bottom: 50px;
    /* background-color: #333; */

}
.p-11{
    margin-left: 20%;
}
.all-habit{
    /* background-color: #b1b1b1; */
    border-radius: 30px;
   margin-left: 23%;
    
}
.food-details{
    margin-left: 30%;
}
#good-food{
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.h-d {
    font-size: 1.5rem;
    color: #ff6347;
    text-align: center;
    position: relative;
    animation: slideIn 1s ease-in-out, colorChange 2s ease-in-out infinite alternate;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes colorChange {
    0% {
      color: white;
    }
    100% {
      color:orangered;
    }
  }
  
  .food-header {
    font-size: 2.5em;
    color: #ff6347;
    text-align: center;
    position: relative;
    animation: slideIn 2s ease-in-out, colorChange 4s ease-in-out infinite alternate;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes colorChange {
    0% {
      color: #ff6347;
    }
    100% {
      color: #32cd32;
    }
  }
  
  





@media screen and (max-width:576px) {

    .nav-item{
        display:none;
    }
   #menu{
    display: block;
   }
   .position-fit{
    margin-left: 0%;
    
    }
    .first-container{
        width: 100%;
    }
   .inner-nav-design{
    border: none;
   }
   .first-head{
    display: grid;
   }
   .pm-btn{
    border-radius: 22px;
    font-size: small;
   
    position: static;
    width: 170px;
    height: 45px;
    flex-direction: row;
    
    align-items: flex-start;
    padding: 0 ;
    }
    .inner-div{
    
        /* width: 130px;
        height: 80px; */
        top: 25%; 
        left: 75%;

    }
    .inner-div-two{
        /* width: 130px;
        height: 80px; */
        margin-left: 30%;
        top: 80%; 
        left: -5%; 

    }
    .all-card{
        display: grid;
        gap: 2rem;
    }
    .p-p{
        margin-left: 20%;
    }
    .third-head{
        font-size: 2rem;
        margin-left: 20%;
    }
    .p2{
        margin-left: 13%;
    }

    .run-container{
        display: grid;
        width: 80%;
        height: 450px;
    }
    .run-img{
        width: 90%;
        height: 90%;
        margin-left: 5%;

    }
    .r-b{
        width: 15.6rem;
    }

    .bmi-div{
        display: grid;
        gap: 60px;
        height: 780px;
       

    }
    .bmi-head{
        margin-left: 1%;
        font-size: 3rem;

    }
    .p5{
        margin-left: 1%;
    }
    .BMI-calculator{
        margin-left: 10%;
    }
    .bmi-container {
       
        text-align: center;
        max-width: 100%;
        
    }
    .BMI-details{
        height: 32vh;

    }
    .h-bmi-c{
        margin-right: 40%;
    }
    .p-7{


    }
    #idsex{
        width: 36%;
    
    }
   .active-size{
    width: 75%;

   }
    
   .traner-details{
    
    display: grid;
   
    grid-template-columns: repeat(1,1fr) ;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    
}
.trainer-h{
    margin-left: 10%;

}
.p-tt{
    margin-left: 10%;
}
.trainer-data{
   width: 98%;
}
.traner-details{
    width: 84%;
}
.footer-d{
    display: grid;
    justify-content:initial;
    


}
.l-f{
    margin-left: 20%;

}
.habit-part{
    display: grid;
    justify-content: space-around;
}
.b-img{
    width: 100%;
    height: 100%; 
}
.add-img{
    width: 100%;
}
.habit-part{
   
    width: 100%;
    /* height: 250px; */
}
.all-habit{
    /* background-color: #b1b1b1; */
    border-radius: 30px;
   margin-left: 0;
   height: 10%;
   padding: 0;
    
}
.food-details{
    margin-left: 2%;
}
#good-food{
    flex-direction: column-reverse;
}
      
}
@media screen and (min-width:577px) and (max-width:992px) {
    .all-card {
        display: grid;
        grid-template-columns: 300px 300px;
    }
    .bmi-div{
       flex-direction: column;
       height: 720px;
    }
 
    
}






  